/* Inspiration https://swabtheworld.com/en/ */

/* Colour scheme */
:root {
  --primary-colour: #142632ff;
  --secondary-colour: #D2823Bff;
  --ternary-colour: #9ea979;
  --highlight: #5E6548ff;
  --bold-text: #c9a042;
  --box-colour: #162a37;
}

/* CSS reseting */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
a {
  text-decoration: none;
}
a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}


/* Setting up fonts, colours, direction */
body {
  background-color: var(--primary-colour);
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  block-size: fit-content;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

/* Navigation Styling */
header {
  translate: 0 -5px;
  z-index: 1;
  position: sticky;
  top: 0;
  padding: 1rem 1rem .5rem;
  color: var(--secondary-colour);
  background-color: var(--primary-colour);
  text-align: center;
  border-bottom: 1px solid var(--secondary-colour);
}
  
header a {
  color: rgba(#fff, .65);
  position: sticky;
  top: 0;
}

header h1 {
  color: var(--primary-colour);
  padding: 0;
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
}

nav {
  position: relative;
  /* z-index: 2; */
  height: 2.5rem;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1.5rem;
  padding-left: 0;
  margin-block: 0;
  overflow-x: auto;
  list-style: none;
  text-align: center;
  white-space: nowrap;
}

nav ul li {
  padding: 0 4%;
  transition:all .3s ease;
}

nav ul li:hover {
  transform: translateY(5px);
  transition: transform 0.3s ease-in-out;
}

nav a {
  display: block;
  padding: .5rem .75rem;
}



/* Main body */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
  margin-top: 70px;
}

.intro {
  line-height: 1.2;
  min-width: fit-content;
  margin-bottom: 20%;
}

/* Animation for memoji image */
.memoji-container {
  display: flex;
  justify-content: center;
}

.memoji-img {
  max-width: 300px;
  animation: memoji-animation 10s ease-in infinite;
}

@keyframes memoji-animation {
  from, to, 50% {translate: 0 0; rotate: 0deg;}
  25% {translate: 10px 10px; rotate: 3deg;}
  75% {translate: -10px 10px; rotate: -3deg;}
}

/* Introductory text */
.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10%; */
}

.hand-emoji {
  display: inline-block;
  animation: wiggle 3s infinite;
}

.intro-content {
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  color: white;
  font-size: 3em;
  padding: 15px;
}

.bold-text-color {
  color: var(--bold-text);
}

/* Intro text animation */
.text-animation {
  height: 1.2em;
  width: fit-content;
}

.s, .a, .st {
  width: fit-content;
  position: absolute;
}

.sites {
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 8px;
  border-right: .08em solid var(--secondary-colour);
  animation: blink-caret 0.5s step-end infinite, 
  type-new 0.5s steps(6, end) forwards 1s, 
  delete-new 0.5s steps(6) forwards 3.5s, 
  hide-element forwards 4.1s;
}

.apps {
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 8px;
  animation: blink-caret 0.5s step-end infinite 4s, 
  type-new 0.5s steps(6) forwards 4s, 
  delete-new 0.5s steps(6) forwards 6.5s, 
  hide-element 0.1s forwards 7.1s;
}

.stuff {
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 8px;
  animation: blink-caret 0.5s step-end infinite 7s, 
  type-new 0.5s steps(6) forwards 7s,
  stop-blink 0.1s forwards 7.6s;
}

/* Keyframs for typing animation and emoji wiggle */
@keyframes type-new {
  0% {width: 0%;}
  100% {width: 100%;}
}

@keyframes delete-new {
  to {width: 0%;}
}

@keyframes hide-element {
  0%,99% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes blink-caret {
  from, to {border-right: .05em solid transparent;}
  50% {border-right: .05em solid var(--secondary-colour);}
}

@keyframes stop-blink {
  to {border-right: .05em solid transparent;}
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
 80% { transform: rotate(0deg); }
 85% { transform: rotate(10deg); }
 95% { transform: rotate(-10deg); }
100% { transform: rotate(0deg); }
}


/* Text divs in main container*/
.text {
  padding: 0 10% 5% 10%;
  /* margin-right: 10%; */
  font-size: 1em;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(#ccc,#ccc);
  background-size: 50% 2px;
  background-position: bottom;
  background-repeat: no-repeat;
}

.text div p {
  padding: 0 0 1em 0;
}

.text div {
  width: 80%;
}

.text h2 {
  color: var(--secondary-colour);
  padding: 5% 0;
  font-size: 1.6em;
}

.text div p a {
  color: var(--ternary-colour);
}


/* Styling for About page main section */
.main-about {
  margin-top: 0;
}
.about-img {
  max-width: 200px;
  width: 50%;
  border-radius: 50%;
}

.about-text {
  flex-direction: column;
  align-items: center;
  background-image: none;
  font-size: 2em;
}


/* Styling for Skills page main section */
.skill-text {
  flex-direction: column;
  align-items: center;
  
}

.skill-text div {
  text-align: center;
  margin-bottom: 15px;
}

.skill-item {
  font-size: 4em;
  transition: all 0.3s ease-in-out
}

.skill-item:hover {
  color: var(--ternary-colour);
  transition: color 0.3s ease-in-out;
}


/* Styling for Projects page */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
  width: 85%;
  height: 85%;
  max-width: 400px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--box-colour);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 30px 0px;
}

.projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-content h2{
  padding: 0 0 10px 0;
  color: var(--secondary-colour);
}

.projects-content p {
  padding: 10px 0 10px 0;
  width: 70%;
  font-size: 0.8em;
}

.projects-content a img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 20px;
  padding: 0 0 10px 0;
}

.projects-content div {
  align-self: start;
  padding: 0 0 0 15%;
}



/* Find-me footer */
.find-me {
  background-color: var(--highlight);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 160px;
  margin-top: 10%;
}

.find-me div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 15px 0 15px 0;
}

.find-me div div {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.find-me-icon {
  transition: all 0.3s ease-in-out
}
.find-me-icon:hover {
  transform: scale(1.5);
  color: var(--secondary-colour);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}


/* Joke text for responsive display */
.joke {
  display: none;
  position: relative;
  top: 50%;
  margin: -10px auto;
}

@media only screen and (max-width: 300px) {
  .joke {
    display: block;
  }

  body {
    height: 100vh;
  }

  header {
    all:unset;
    display: none;
  }

  .main-container {
    display: none;
  }

  .find-me {
    all:unset;
    display: none;
  }
}

/* For tablet */
@media only screen and (min-width: 600px) {
  /* Navigation */
  header {
    width: 100%;
    justify-content: end;
    display: flex;
  }

  nav ul {
    width: 90vw;
  }

  /* Main section for home page */
  .main-container {
    margin-top: 90px;
  }

  .main-about {
    margin-top: 0;
  }
  
  .intro {
    margin-bottom: 10%;
    display: flex;
    width: fit-content;
  }

  .intro-container {
    padding: 0;
  }

  .memoji-content {
    translate: 0 -40px;
  }

  .text {
    font-size: 1.5em;
  }


  /* About me page styling */
  .about-text {
    font-size: 3em;
  }

  /* Projects page styling */
  .projects {
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* Footer section */
  .find-me div {
    flex-direction: row;
    width: 50%;
    align-items: center;
  }

  .find-me div div {
    width: 50%;
  }

  .find-me div h1 {
    width: 50%;
  }

  .find-me div div div span {
    padding: 0px 30px;
  }

}

@media only screen and (min-width: 1000px){
  header {
    width: inherit;
    justify-content: end;
    display: flex;
  }

  nav {
    all:unset;
  }

  nav ul {
    all:unset;
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }

  .intro {
    margin-bottom: 3%;
  }

  .intro-content{
    font-size: 4.4em;
  }

  .memoji-content {
    all:unset;
    translate: 40px 0;
    width: 100%;

  }

  .memoji-img {
    max-width: 370px;
  }

  .text {
    align-self: center;
    padding: 30px 0 0 0;
    text-align: initial;
    width: 100%;
  }

  .about-text {
    font-size: 3em;
  }

  .text div {
    width: 50%;
  }

  .text h2 {
    padding: 2% 0;
  }

  .find-me div {
    flex-direction: row;
    width: 50%;
    align-items: center;
  }

  .find-me div div {
    width: 50%;
  }

  .find-me div h1 {
    width: 50%;
  }

  .find-me div div div span {
    padding: 0px 30px;
  }

  /* Skills styling */
  .skill-text div {
    padding: 2% 0 5% 0;
  }

  .skill-item:hover {
    color: var(--ternary-colour);
    transition: color 0.3s ease-in-out;
  }

  .projects {
    width: 100%;
  }


  /* Project page styling */
  .projects-container {
    max-height: 470px;
  }


}