/* Inspiration https://swabtheworld.com/en/ */

/* Colour scheme */
:root {
  --primary-colour: #5e62d1;
  --secondary-colour: #5fecc8;
  --highlight: #C36749;
}

/* CSS reseting */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
a {
  text-decoration: none;
}
a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

/* Make text unselectable */
.noselect {
  -webkit-touch-callout: none; 
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Setting up fonts, colours, direction */
body {
  background-color: var(--primary-colour);
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  block-size: fit-content;
  display: flex;
  flex-direction: column;
}




/* Navigation Styling*/
header {
  position: sticky;
  top: 0;
  padding: 1rem 1rem .5rem;
  color: var(--primary-colour);
  text-align: center;
  background-color: var(--secondary-colour);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
  
header a {
  color: rgba(#fff, .65);
  position: sticky;
  top: 0;
}

a {
  text-decoration: none;
}

header h1 {
  color: var(--primary-colour);
  padding: 0;
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
}

nav {
  position: relative;
  z-index: 2;
  height: 2.5rem;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1.5rem;
  padding-left: 0;
  margin-block: 0;
  overflow-x: auto;
  list-style: none;
  text-align: center;
  white-space: nowrap;
}

nav ul li {
  padding: 0 4%;
}

nav a {
  display: block;
  padding: .5rem .75rem;
}
  
nav.active {
  color: #fff;
  font-weight: 600;
}



/* Main body */
.main-container {
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
  margin-top: 70px;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
}

.memoji-container {
  display: flex;
  justify-content: center;
}

.memoji-img {
  max-width: 50%;
  animation: memoji-animation 10s ease-in infinite;
}

@keyframes memoji-animation {
  from, to, 50% {translate: 0 0; rotate: 0deg;}
  25% {translate: 10px 10px; rotate: 3deg;}
  75% {translate: -10px 10px; rotate: -3deg;}
}

.card-container {
  display: none;
}

/* Introductory text */
.intro {
  line-height: 1.2;
  min-width: fit-content;
}

.hand-emoji {
  display: inline-block;
  animation: wiggle 3s 3;
}

h1 {
  text-align: left;
  color: white;
  font-size: 3em;
  padding: 15px;
}

.bold-text-color {
  color: var(--secondary-colour);
}

/* Text animation */
.text-animation {
  height: 1.2em;
  width: fit-content;
}

.s, .a, .st {
  width: fit-content;
  position: absolute;
}

.sites {
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 8px;
  border-right: .08em solid var(--secondary-colour);
  animation: blink-caret 0.5s step-end infinite, 
  type-new 0.5s steps(6, end) forwards 1s, 
  delete-new 0.5s steps(6) forwards 3.5s, 
  hide-element forwards 4.1s;
}

.apps {
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 8px;
  animation: blink-caret 0.5s step-end infinite 4s, 
  type-new 0.5s steps(6) forwards 4s, 
  delete-new 0.5s steps(6) forwards 6.5s, 
  hide-element 0.1s forwards 7.1s;
}

.stuff {
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 8px;
  animation: blink-caret 0.5s step-end infinite 7s, 
  type-new 0.5s steps(6) forwards 7s,
  stop-blink 0.1s forwards 7.6s;
}

@keyframes type-new {
  0% {width: 0%;}
  100% {width: 100%;}
}

@keyframes delete-new {
  to {width: 0%;}
}

@keyframes hide-element {
  0%,99% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes blink-caret {
  from, to {border-right: .05em solid transparent;}
  50% {border-right: .05em solid var(--secondary-colour);}
}

@keyframes stop-blink {
  to {border-right: .05em solid transparent;}
}

.text {
  padding: 5% 10% 10% 5%;
  font-size: 1.5em;
  text-align: center;
}





.find-me {
  background-color: var(--highlight);
  width: 100%;
  height: fit-content;
  flex: 1;
}



/* Footer */
footer {
  position:fixed;
  width: 100%;
  bottom: 0;
  background-color: #21252c;
}

.acknowledgement {
  color: var(--secondary-colour);
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
  height: 2.1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coding {
  display: flex;
  background-color: #21252c;
  justify-content: space-between;
  font-family: 'Courier New', Courier, monospace;
  height: 2em;
  border-bottom: 1px solid #5fecc8;
}

.left-code {
  display: flex;
  width: auto;
  margin-left: 10px;
  align-items: center;
}

.left-code div{
  padding: 0 7px;
}

.source-icon {
  width: auto;
  height: 15px;
}

.right-code {
  margin-right: 10px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-code div {
  padding: 0 10px;
}




.coding-gif {
  display: none;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  object-position: 3% 0;
}

/* Joke text for responsive display */
.joke {
  display: none;
  position: relative;
  top: 50%;
  margin: -10px auto;
}

@media only screen and (max-width: 350px) {
  .joke {
    display: block;
  }
  header {
    display: none;
  }
  main {
    display: none;
  }
  footer {
    display: none;
  }
}

/* For tablet */
@media only screen and (min-width: 600px) {
  .nav-container {
    justify-content: center;
  }

  .nav-scroll {
    display: none;
  }

  .nav-bar {
    display: inline;
    transform: scale(60%);
  }

  .nav-list-container {
    background-color: var(--secondary-colour);
    display: flex;
    justify-content: space-around;
    border-radius: 4em;
    margin-top: 5%;
    box-shadow: 5px 10px 50px -20px #21252c;
  }

  .nav-list {
    display: flex;
    font-size: 3em;
    color: var(--primary-colour);;
  }

  .nav-list div {
    padding: 0 30px;
  }

  /* Main container */
  .main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }

  .intro {
    font-size: 1.5em;
  }

  .intro-container {
    display: flex;
    margin: 0;
    flex-direction: row;
  }

  .memoji-container {
    display: flex;
    justify-content: center;
    align-items: center;
    translate: 0 -10%;
  }

  .memoji-img {
    max-width: 80%;
  }

  .links {
    display: none;
    font-size: 1em;
    padding: 0 0 0 10%;
  } 

  .card-container {
    display: flex;
  }
}

@media only screen and (min-width: 1200px){
  
}