@import '../default/default';


@keyframes memoji-animation {
  from, to, 50% {translate: 0 0; rotate: 0deg;}
  25% {translate: 10px 10px; rotate: 3deg;}
  75% {translate: -10px 10px; rotate: -3deg;}
}

@keyframes type-new {
  0% {width: 0%;}
  100% {width: 100%;}
}

@keyframes delete-new {
  to {width: 0%;}
}

@keyframes hide-element {
  0%,99% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes blink-caret {
  from, to {border-right: .05em solid transparent;}
  50% {border-right: .05em solid $foreground-colour;}
}

@keyframes stop-blink {
  to {border-right: .05em solid transparent;}
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
 80% { transform: rotate(0deg); }
 85% { transform: rotate(10deg); }
 95% { transform: rotate(-10deg); }
100% { transform: rotate(0deg); }
}
