@import '../default/colours';
@import '../componenets/animation';
@import '../componenets/main-section';


// Styling for About page main section
.main-about {
  margin-top: 0;
  .about-heading {
    padding: 5% 10% 0 10%;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $foreground-colour;
    .about-img {
      margin: 10%;
      max-width: 200px;
      width: 50%;
      border-radius: 50%;
    }
  }
}


// Tablet break point
@media only screen and (min-width: 600px) {
  // About page styling
  .main-about {
    .about-heading {
      .about-img {
        margin: 12% 0 0%;
        max-width: 400px;
      }
    }
  }
}

// Desktop breakpoint
@media only screen and (min-width: 1000px){
  // About page styling
  .main-about {
    .about-text {
      font-size: 3em;
    }
  }
}
