@import '../default/colours';
@import '../componenets/animation';
@import '../componenets/main-section';


// Styling for About page main section
.main-about {
  margin-top: 0;
  .about-heading {
    padding: 20px 0 0 0;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $foreground-colour;
    .about-img {
      margin: 20px;
      max-width: 200px;
      width: 50%;
      border-radius: 50%;
    }
  }

  // Text divs in main container
  .about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10% 5% 10%;
    font-size: 1em;
    text-align: left;
    width: 100%;
    div {
      width: 80%;
      p {
        padding: 0 0 1em 0;
        a {
          color: $links-colour;
        }
      }
    }
    h2 {
      color: $foreground-colour;
      padding: 5% 0;
    }
  }
}



// For tablet
@media only screen and (min-width: 600px) {
  .main-about {
    margin-top: 0;
    .about-heading {
      .about-img {
        width: 250px;
        margin: 20px;
      }
    }

    // About text
    .about-text {
      margin-top: 20px;
      padding: 0;
      flex-direction: row;
      align-items: flex-start;
      font-size: 1em;
      margin-bottom: 50px;
      div {
        padding: 0 50px;
        max-width: 400px;
      }
      .border-left {
        width: 1px;
        height: 14em;
        background-color: white;
        padding: 0px;
        translate: 0px 50px;
      }
    }
  }
}

// For desktop
@media only screen and (min-width: 1000px){
  .main-about {
    .about-text {
      div {
        max-width: 500px;
      }
    }
  }
}
