@import '../default/colours';
@import '../componenets/animation';
@import '../componenets/main-section';

// Styling for Blog page main section
.main-blog {
  margin-top: 0;
  .blog-heading {
    padding: 20px 0;
    font-size: 2em;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: center;
    color: $foreground-colour;
  }

  // Blog list section
  .blog-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    .list-container {
      width: 80%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;

      // Blog post card
      .list-content {
        width: 100%;
        max-width: 400px;
        margin: 0 0 20px 0;
        a {
          div {
            background-color: $secondary-background;
            border-radius: 10px;

            // Blog image
            .image-content {
              width: 100%;
              height: 200px;
              overflow: hidden;
              border-radius: 10px 10px 0 0;
              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: all 0.2s ease-in-out;
                &:hover {
                  transform: scale(1.2);
                }
              }
            }

            // Blog title
            .title-content {
              padding: 10px 10px 15px 10px;
              div:hover {
                color: $links-colour;
              }
              h2 {
                font-size: 1em;
              }
            }
          }
        }
      }
    }
  }
}


// Tablet break point
@media only screen and (min-width: 600px) {
  .main-blog {
    .blog-list {
      .list-container {
        width: 100%;
        flex-flow: row wrap;

        // Blog post card
        .list-content {
          margin: 0 20px 20px 0;
        }
      }
    }
  }
}

// No desktop breakpoint as tablet styling works well