@import '../default/colours';
@import '../componenets/animation';
@import '../componenets/mixins';


// Top intro paragraph
.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  .intro {
    margin: 50px 0 0 0;
    line-height: 1.2;
    min-width: fit-content;
    margin-bottom: 20%;
    .intro-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* padding: 10%; */
      .intro-content {
        font-size: 2em;
        font-weight: bold;
        text-align: left;
        color: white;
        font-size: 3em;
        padding: 15px;
        .hand-emoji {
          display: inline-block;
          animation: wiggle 3s infinite;
        }
        .bold-text-color {
          color: $bold-text ;
        }
        
        // Typing animation
        .text-animation {
          height: 1.2em;
          width: fit-content;
          .s, .a, .st {
            width: fit-content;
            position: absolute;
            .sites {
              width: 0px;
              overflow: hidden;
              white-space: nowrap;
              margin-right: 8px;
              border-right: .08em solid var(--foreground-colour);
              animation: blink-caret 0.5s step-end infinite, 
              type-new 0.5s steps(6, end) forwards 1s, 
              delete-new 0.5s steps(6) forwards 3.5s, 
              hide-element forwards 4.1s;
            }
            .apps {
              width: 0%;
              overflow: hidden;
              white-space: nowrap;
              margin-right: 8px;
              animation: blink-caret 0.5s step-end infinite 4s, 
              type-new 0.5s steps(6) forwards 4s, 
              delete-new 0.5s steps(6) forwards 6.5s, 
              hide-element 0.1s forwards 7.1s;
            }
            .stuff {
              width: 0%;
              overflow: hidden;
              white-space: nowrap;
              margin-right: 8px;
              animation: blink-caret 0.5s step-end infinite 7s, 
              type-new 0.5s steps(6) forwards 7s,
              stop-blink 0.1s forwards 7.6s;
            }
          }
        }
      }
    }
  
    // Memoji image and animation
    .memoji-container {
      display: flex;
      justify-content: center;
      .memoji-img {
        max-width: 300px;
        animation: memoji-animation 10s ease-in infinite;
      }
    }
  }

  // Teaser text section
  .home-text {
    padding: 0 10% 5% 10%;
    font-size: 1em;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    div {
      p {
        padding: 0 0 1em 0;
        a {
          color: $links-colour;
        }
      }
    }
    h2 {
      color: $foreground-colour;
      padding: 5% 0;
    }
  }

  // Download button for resume
  .resume-download {
    margin: 50px;
    align-self: center;
    a {
      button {
        @include button;
      }
    }
  }
}

// Tablet break point
@media only screen and (min-width: 600px) {
  // Home page styling
  .main-home {
    margin-top: 20px;
    .intro {
      margin-bottom: 10%;
      display: flex;
      width: fit-content;
      .intro-container {
        padding: 0;
      }
      .memoji-content {
        translate: 0 -40px;
      }
    }
    .home-text {
      font-size: 1.5em;
    }
  }
}

// Desktop breakpoint
@media only screen and (min-width: 1000px){
  .main-home {
    .intro {
      margin-bottom: 3%;
      .intro-content{
        font-size: 4.4em;
      }

      // Memoji resizing
      .memoji-content {
        all:unset;
        translate: 40px 0;
        width: 100%;
        .memoji-img {
          max-width: 300px;
        }
      }
    }

    // Make teaser text in a row
    .home-text {
      flex-direction: row;
      width: 100vw;
      font-size: 1em;
      padding: 0 0 0 0;
      margin-top: 50px;

      // Add border lines between text
      div:nth-child(1) {
        &:after {
          content: "";
          background: white;
          position: absolute;
          height: 40%;
          width: 1px;
          translate: 213px -166px;
        }
      }
      div:nth-child(2) {
        &:after {
          content: "";
          background: white;
          position: absolute;
          height: 50%;
          width: 1px;
          translate: 213px -303px;
        }
      }
      div:nth-child(3) {
        &:after {
          content: "";
          background: white;
          position: absolute;
          height: 30%;
          width: 1px;
          translate: 213px -376px;
        }
      }
      div {
        width: 240px;
        padding: 0 25px;
      }
    }
  }
}