@import '../default/colours';
@import '../componenets/animation';
@import '../componenets/main-section';


// Top intro paragraph
.intro {
  line-height: 1.2;
  min-width: fit-content;
  margin-bottom: 20%;
  .intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10%; */
    .intro-content {
      font-size: 2em;
      font-weight: bold;
      text-align: left;
      color: white;
      font-size: 3em;
      padding: 15px;
      .hand-emoji {
        display: inline-block;
        animation: wiggle 3s infinite;
      }
      .bold-text-color {
        color: $bold-text ;
      }
      
      // Typing animation
      .text-animation {
        height: 1.2em;
        width: fit-content;
        .s, .a, .st {
          width: fit-content;
          position: absolute;
          .sites {
            width: 0px;
            overflow: hidden;
            white-space: nowrap;
            margin-right: 8px;
            border-right: .08em solid var(--foreground-colour);
            animation: blink-caret 0.5s step-end infinite, 
            type-new 0.5s steps(6, end) forwards 1s, 
            delete-new 0.5s steps(6) forwards 3.5s, 
            hide-element forwards 4.1s;
          }
          .apps {
            width: 0%;
            overflow: hidden;
            white-space: nowrap;
            margin-right: 8px;
            animation: blink-caret 0.5s step-end infinite 4s, 
            type-new 0.5s steps(6) forwards 4s, 
            delete-new 0.5s steps(6) forwards 6.5s, 
            hide-element 0.1s forwards 7.1s;
          }
          .stuff {
            width: 0%;
            overflow: hidden;
            white-space: nowrap;
            margin-right: 8px;
            animation: blink-caret 0.5s step-end infinite 7s, 
            type-new 0.5s steps(6) forwards 7s,
            stop-blink 0.1s forwards 7.6s;
          }
        }
      }
    }
  }

  // Memoji image and animation
  .memoji-container {
    display: flex;
    justify-content: center;
    .memoji-img {
      max-width: 300px;
      animation: memoji-animation 10s ease-in infinite;
    }
  }
}



// Tablet break point
@media only screen and (min-width: 600px) {
  // Home page styling
  .main-container {
    margin-top: 90px;
    .intro {
      margin-bottom: 10%;
      display: flex;
      width: fit-content;
      .intro-container {
        padding: 0;
      }
      .memoji-content {
        translate: 0 -40px;
      }
    }
    .text {
      font-size: 1.5em;
    }
  }
}

// Desktop breakpoint
@media only screen and (min-width: 1000px){
  .main-container {
    .intro {
      margin-bottom: 3%;
      .intro-content{
        font-size: 4.4em;
      }
      .memoji-content {
        all:unset;
        translate: 40px 0;
        width: 100%;
        .memoji-img {
          max-width: 300px;
        }
      }
    }
    .text {
      font-size: 1.5em;
    }
  }
}