@import '../default/colours';
@import '../componenets/animation';
@import '../componenets/main-section';

// Styling for Skills page
.main-skills{
  margin-top: 0;
  .skill-heading {
    padding: 5% 10% 5% 10%;
    font-size: 2em;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: center;
    color: $foreground-colour;
  }
  .skill-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    .skill-container {
      max-width: 300px;
      width: 60%;
      border-bottom: 1px solid;
      .skill-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
        padding: 20px 0 20px 0;
        h2 {
          padding: 0 0 20px 0;
          color: $foreground-colour;
        }
        div {
          font-size: 1.8em;
          a {
            transition: all 0.2s ease-in-out;
            &:hover {
              color: $links-colour;
            }
          }
        }
      }
    }
    .skill-container:nth-last-child(1) {
      border-bottom: none;
    }
  }
}

// For tablet
@media only screen and (min-width: 600px) {
  .main-skills{
    .skill-text {
      font-size: 1em;
      .skill-container {
        .skill-content {
          h2 {
            font-size: 2.3em;
          }
          div {
            font-size: 3em;
          }
        }
      }
    }
  }
}

// For desktop
@media only screen and (min-width: 1000px){
  .main-skills{
    .skill-text {
      display: flex;
      flex-flow: row;
      align-items: baseline;
      font-size: 1em;
      .skill-container {
        border-bottom: none;
        padding: 0 30px;
        height: 250px;
        border-right: 1px solid;
        .skill-content {
          // height: 100px;
          h2 {
            font-size: 2.3em;
          }
          div {
            text-align: center;
            font-size: 3em;
          }
        }
      }
      .skill-container:nth-last-child(1) {
        border-right: none;
      }
    }
  }

}