// Default
@import './default/default';


// Components
@import './componenets/header';
@import './componenets/footer';

// Pages
@import './pages/home';


// Styling for Skills page main section
.skill-text {
  flex-direction: column;
  align-items: center;
  
}

.skill-text div {
  text-align: center;
  margin-bottom: 15px;
}

.skill-item {
  font-size: 4em;
  transition: all 0.3s ease-in-out
}

.skill-item:hover {
  color: var(--links-colour);
  transition: color 0.3s ease-in-out;
}


/* Styling for Projects page */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
  width: 85%;
  height: 85%;
  max-width: 400px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--secondary-background);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 30px 0px;
}

.projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-content h2{
  padding: 0 0 10px 0;
  color: var(--foreground-colour);
}

.projects-content p {
  padding: 10px 0 10px 0;
  width: 70%;
  font-size: 0.8em;
}

.projects-content a img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 20px;
  padding: 0 0 10px 0;
}

.projects-content div {
  align-self: start;
  padding: 0 0 0 15%;
}

/* For tablet */
@media only screen and (min-width: 600px) {
  /* Navigation */
  header {
    width: 100%;
    justify-content: end;
    display: flex;
  }

  nav ul {
    width: 90vw;
  }

  /* Main section for home page */
  .main-container {
    margin-top: 90px;
  }

  .main-about {
    margin-top: 0;
  }
  
  .intro {
    margin-bottom: 10%;
    display: flex;
    width: fit-content;
  }

  .intro-container {
    padding: 0;
  }

  .memoji-content {
    translate: 0 -40px;
  }

  .text {
    font-size: 1.5em;
  }


  /* About me page styling */
  .about-text {
    font-size: 3em;
  }

  /* Projects page styling */
  .projects {
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* Footer section */
  .find-me div {
    flex-direction: row;
    width: 50%;
    align-items: center;
  }

  .find-me div div {
    width: 50%;
  }

  .find-me div h1 {
    width: 50%;
  }

  .find-me div div div span {
    padding: 0px 30px;
  }

}

@media only screen and (min-width: 1000px){
  header {
    width: inherit;
    justify-content: end;
    display: flex;
  }

  nav {
    all:unset;
  }

  nav ul {
    all:unset;
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }

  .intro {
    margin-bottom: 3%;
  }

  .intro-content{
    font-size: 4.4em;
  }

  .memoji-content {
    all:unset;
    translate: 40px 0;
    width: 100%;

  }

  .memoji-img {
    max-width: 370px;
  }

  .text {
    align-self: center;
    padding: 30px 0 0 0;
    text-align: initial;
    width: 100%;
  }

  .about-text {
    font-size: 3em;
  }

  .text div {
    width: 50%;
  }

  .text h2 {
    padding: 2% 0;
  }

  .find-me div {
    flex-direction: row;
    width: 50%;
    align-items: center;
  }

  .find-me div div {
    width: 50%;
  }

  .find-me div h1 {
    width: 50%;
  }

  .find-me div div div span {
    padding: 0px 30px;
  }

  /* Skills styling */
  .skill-text div {
    padding: 2% 0 5% 0;
  }

  .skill-item:hover {
    color: var(--links-colour);
    transition: color 0.3s ease-in-out;
  }

  .projects {
    width: 100%;
  }


  /* Project page styling */
  .projects-container {
    max-height: 470px;
  }


}