*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100vh;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  background-color: #142632;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

header {
  translate: 0 -5px;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1rem 1rem 0.5rem;
  color: #e89b57;
  background-color: #142632;
  text-align: center;
  border-bottom: 1px solid #e89b57;
}
header nav {
  position: relative;
  height: 2.5rem;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
header nav ul {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1.5rem;
  padding-left: 0;
  margin-block: 0;
  overflow-x: auto;
  list-style: none;
  text-align: center;
  white-space: nowrap;
}
header nav ul li {
  padding: 0 4%;
  transition: all 0.3s ease;
}
header nav ul li:hover {
  transform: translateY(5px);
  transition: transform 0.3s ease-in-out;
}
header nav ul li a {
  display: block;
  padding: 0.5rem 0.75rem;
}

@media only screen and (min-width: 600px) {
  header {
    width: 100%;
    justify-content: flex-end;
    display: flex;
  }
  header nav ul {
    width: 90vw;
  }
}
@media only screen and (min-width: 1000px) {
  header {
    width: inherit;
  }
  header nav {
    all: unset;
  }
  header nav ul {
    all: unset;
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
}
.find-me {
  background-color: #1e3a4c;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 160px;
  margin-top: auto;
}
.find-me div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 15px 0 15px 0;
}
.find-me div h1 {
  font-size: 1.54em;
}
.find-me div div {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.find-me-icon {
  transition: all 0.3s ease-in-out;
}
.find-me-icon:hover {
  transform: scale(1.5);
  color: #e89b57;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

@media only screen and (min-width: 600px) {
  .find-me div {
    flex-direction: row;
    width: 50%;
    align-items: center;
  }
  .find-me div div {
    width: 50%;
  }
  .find-me div div div span {
    padding: 15px;
  }
  .find-me div h1 {
    width: 50%;
  }
}
@media only screen and (min-width: 1000px) {
  .find-me div {
    flex-direction: row;
    width: 50%;
    align-items: center;
  }
}
@-webkit-keyframes memoji-animation {
  from, to, 50% {
    translate: 0 0;
    rotate: 0deg;
  }
  25% {
    translate: 10px 10px;
    rotate: 3deg;
  }
  75% {
    translate: -10px 10px;
    rotate: -3deg;
  }
}
@keyframes memoji-animation {
  from, to, 50% {
    translate: 0 0;
    rotate: 0deg;
  }
  25% {
    translate: 10px 10px;
    rotate: 3deg;
  }
  75% {
    translate: -10px 10px;
    rotate: -3deg;
  }
}
@-webkit-keyframes type-new {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes type-new {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes delete-new {
  to {
    width: 0%;
  }
}
@keyframes delete-new {
  to {
    width: 0%;
  }
}
@-webkit-keyframes hide-element {
  0%, 99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hide-element {
  0%, 99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blink-caret {
  from, to {
    border-right: 0.05em solid transparent;
  }
  50% {
    border-right: 0.05em solid #e89b57;
  }
}
@keyframes blink-caret {
  from, to {
    border-right: 0.05em solid transparent;
  }
  50% {
    border-right: 0.05em solid #e89b57;
  }
}
@-webkit-keyframes stop-blink {
  to {
    border-right: 0.05em solid transparent;
  }
}
@keyframes stop-blink {
  to {
    border-right: 0.05em solid transparent;
  }
}
@-webkit-keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(10deg);
  }
  95% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(10deg);
  }
  95% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
  margin-top: 70px;
}

.text {
  padding: 0 10% 5% 10%;
  font-size: 1em;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
}
.text div {
  width: 80%;
}
.text div p {
  padding: 0 0 1em 0;
}
.text div p a {
  color: #c19ade;
}
.text h2 {
  color: #e89b57;
  padding: 5% 0;
  font-size: 1.6em;
}

@media only screen and (min-width: 600px) {
  main {
    margin-top: 90px;
  }
  main .heading {
    font-size: 3em;
  }
  main .text {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1000px) {
  main {
    margin-top: 90px;
  }
  main .heading {
    font-size: 3em;
    margin: -30px 0 -20px 0;
  }
  main .text {
    align-self: center;
    padding: 30px 0 0 0;
    text-align: initial;
    width: 100%;
    font-size: 1.5em;
  }
  main .text div {
    width: 50%;
  }
  main .text h2 {
    padding: 2% 0;
  }
}
.intro {
  line-height: 1.2;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-bottom: 20%;
}
.intro .intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10%; */
}
.intro .intro-container .intro-content {
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  color: white;
  font-size: 3em;
  padding: 15px;
}
.intro .intro-container .intro-content .hand-emoji {
  display: inline-block;
  -webkit-animation: wiggle 3s infinite;
          animation: wiggle 3s infinite;
}
.intro .intro-container .intro-content .bold-text-color {
  color: #e079e0;
}
.intro .intro-container .intro-content .text-animation {
  height: 1.2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.intro .intro-container .intro-content .text-animation .s, .intro .intro-container .intro-content .text-animation .a, .intro .intro-container .intro-content .text-animation .st {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
}
.intro .intro-container .intro-content .text-animation .s .sites, .intro .intro-container .intro-content .text-animation .a .sites, .intro .intro-container .intro-content .text-animation .st .sites {
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 8px;
  border-right: 0.08em solid var(--foreground-colour);
  -webkit-animation: blink-caret 0.5s step-end infinite, type-new 0.5s steps(6, end) forwards 1s, delete-new 0.5s steps(6) forwards 3.5s, hide-element forwards 4.1s;
          animation: blink-caret 0.5s step-end infinite, type-new 0.5s steps(6, end) forwards 1s, delete-new 0.5s steps(6) forwards 3.5s, hide-element forwards 4.1s;
}
.intro .intro-container .intro-content .text-animation .s .apps, .intro .intro-container .intro-content .text-animation .a .apps, .intro .intro-container .intro-content .text-animation .st .apps {
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 8px;
  -webkit-animation: blink-caret 0.5s step-end infinite 4s, type-new 0.5s steps(6) forwards 4s, delete-new 0.5s steps(6) forwards 6.5s, hide-element 0.1s forwards 7.1s;
          animation: blink-caret 0.5s step-end infinite 4s, type-new 0.5s steps(6) forwards 4s, delete-new 0.5s steps(6) forwards 6.5s, hide-element 0.1s forwards 7.1s;
}
.intro .intro-container .intro-content .text-animation .s .stuff, .intro .intro-container .intro-content .text-animation .a .stuff, .intro .intro-container .intro-content .text-animation .st .stuff {
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 8px;
  -webkit-animation: blink-caret 0.5s step-end infinite 7s, type-new 0.5s steps(6) forwards 7s, stop-blink 0.1s forwards 7.6s;
          animation: blink-caret 0.5s step-end infinite 7s, type-new 0.5s steps(6) forwards 7s, stop-blink 0.1s forwards 7.6s;
}
.intro .memoji-container {
  display: flex;
  justify-content: center;
}
.intro .memoji-container .memoji-img {
  max-width: 300px;
  -webkit-animation: memoji-animation 10s ease-in infinite;
          animation: memoji-animation 10s ease-in infinite;
}

@media only screen and (min-width: 600px) {
  .main-container {
    margin-top: 90px;
  }
  .main-container .intro {
    margin-bottom: 10%;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .main-container .intro .intro-container {
    padding: 0;
  }
  .main-container .intro .memoji-content {
    translate: 0 -40px;
  }
  .main-container .text {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1000px) {
  .main-container .intro {
    margin-bottom: 3%;
  }
  .main-container .intro .intro-content {
    font-size: 4.4em;
  }
  .main-container .intro .memoji-content {
    all: unset;
    translate: 40px 0;
    width: 100%;
  }
  .main-container .intro .memoji-content .memoji-img {
    max-width: 300px;
  }
  .main-container .text {
    font-size: 1.5em;
  }
}
@keyframes memoji-animation {
  from, to, 50% {
    translate: 0 0;
    rotate: 0deg;
  }
  25% {
    translate: 10px 10px;
    rotate: 3deg;
  }
  75% {
    translate: -10px 10px;
    rotate: -3deg;
  }
}
@keyframes type-new {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes delete-new {
  to {
    width: 0%;
  }
}
@keyframes hide-element {
  0%, 99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink-caret {
  from, to {
    border-right: 0.05em solid transparent;
  }
  50% {
    border-right: 0.05em solid #e89b57;
  }
}
@keyframes stop-blink {
  to {
    border-right: 0.05em solid transparent;
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(10deg);
  }
  95% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
  margin-top: 70px;
}

.text {
  padding: 0 10% 5% 10%;
  font-size: 1em;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
}
.text div {
  width: 80%;
}
.text div p {
  padding: 0 0 1em 0;
}
.text div p a {
  color: #c19ade;
}
.text h2 {
  color: #e89b57;
  padding: 5% 0;
  font-size: 1.6em;
}

@media only screen and (min-width: 600px) {
  main {
    margin-top: 90px;
  }
  main .heading {
    font-size: 3em;
  }
  main .text {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1000px) {
  main {
    margin-top: 90px;
  }
  main .heading {
    font-size: 3em;
    margin: -30px 0 -20px 0;
  }
  main .text {
    align-self: center;
    padding: 30px 0 0 0;
    text-align: initial;
    width: 100%;
    font-size: 1.5em;
  }
  main .text div {
    width: 50%;
  }
  main .text h2 {
    padding: 2% 0;
  }
}
.main-about {
  margin-top: 0;
}
.main-about .about-heading {
  padding: 5% 10% 0 10%;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e89b57;
}
.main-about .about-heading .about-img {
  margin: 10%;
  max-width: 200px;
  width: 50%;
  border-radius: 50%;
}

@media only screen and (min-width: 600px) {
  .main-about .about-heading .about-img {
    margin: 12% 0 0%;
    max-width: 400px;
  }
}
@media only screen and (min-width: 1000px) {
  .main-about .about-text {
    font-size: 3em;
  }
}
@keyframes memoji-animation {
  from, to, 50% {
    translate: 0 0;
    rotate: 0deg;
  }
  25% {
    translate: 10px 10px;
    rotate: 3deg;
  }
  75% {
    translate: -10px 10px;
    rotate: -3deg;
  }
}
@keyframes type-new {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes delete-new {
  to {
    width: 0%;
  }
}
@keyframes hide-element {
  0%, 99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink-caret {
  from, to {
    border-right: 0.05em solid transparent;
  }
  50% {
    border-right: 0.05em solid #e89b57;
  }
}
@keyframes stop-blink {
  to {
    border-right: 0.05em solid transparent;
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(10deg);
  }
  95% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
  margin-top: 70px;
}

.text {
  padding: 0 10% 5% 10%;
  font-size: 1em;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
}
.text div {
  width: 80%;
}
.text div p {
  padding: 0 0 1em 0;
}
.text div p a {
  color: #c19ade;
}
.text h2 {
  color: #e89b57;
  padding: 5% 0;
  font-size: 1.6em;
}

@media only screen and (min-width: 600px) {
  main {
    margin-top: 90px;
  }
  main .heading {
    font-size: 3em;
  }
  main .text {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1000px) {
  main {
    margin-top: 90px;
  }
  main .heading {
    font-size: 3em;
    margin: -30px 0 -20px 0;
  }
  main .text {
    align-self: center;
    padding: 30px 0 0 0;
    text-align: initial;
    width: 100%;
    font-size: 1.5em;
  }
  main .text div {
    width: 50%;
  }
  main .text h2 {
    padding: 2% 0;
  }
}
.main-projects {
  margin-top: 0;
}
.main-projects .projects-heading {
  padding: 5% 10% 0 10%;
  font-size: 2em;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #e89b57;
}
.main-projects .project-text {
  padding: 0 10% 5% 10%;
  font-size: 2em;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-projects .project-text h2 {
  color: #e89b57;
  padding: 5% 0;
  font-size: 1.6em;
}
.main-projects .projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-projects .projects .projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
  width: 85%;
  height: 85%;
  max-width: 400px;
  padding: 20px;
  border-radius: 20px;
  background-color: #1e3a4c;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 30px 0px;
}
.main-projects .projects .projects-container .projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-projects .projects .projects-container .projects-content h2 {
  padding: 0 0 10px 0;
  color: #e89b57;
}
.main-projects .projects .projects-container .projects-content p {
  padding: 10px 0 10px 0;
  width: 70%;
  font-size: 0.8em;
}
.main-projects .projects .projects-container .projects-content a img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 20px;
  padding: 0 0 10px 0;
}
.main-projects .projects .projects-container .projects-content div {
  align-self: start;
  padding: 0 0 0 15%;
}

@media only screen and (min-width: 600px) {
  .main-projects .heading {
    padding: 0;
  }
  .main-projects .project-text {
    padding: 0 10% 0 10%;
  }
  .main-projects .projects {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1000px) {
  .main-projects .project-text {
    font-size: 3em;
  }
  .main-projects .projects {
    flex-flow: wrap;
    width: 100%;
  }
  .main-projects .projects .projects-container {
    max-height: 470px;
  }
}
@keyframes memoji-animation {
  from, to, 50% {
    translate: 0 0;
    rotate: 0deg;
  }
  25% {
    translate: 10px 10px;
    rotate: 3deg;
  }
  75% {
    translate: -10px 10px;
    rotate: -3deg;
  }
}
@keyframes type-new {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes delete-new {
  to {
    width: 0%;
  }
}
@keyframes hide-element {
  0%, 99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink-caret {
  from, to {
    border-right: 0.05em solid transparent;
  }
  50% {
    border-right: 0.05em solid #e89b57;
  }
}
@keyframes stop-blink {
  to {
    border-right: 0.05em solid transparent;
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(10deg);
  }
  95% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
  margin-top: 70px;
}

.text {
  padding: 0 10% 5% 10%;
  font-size: 1em;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
}
.text div {
  width: 80%;
}
.text div p {
  padding: 0 0 1em 0;
}
.text div p a {
  color: #c19ade;
}
.text h2 {
  color: #e89b57;
  padding: 5% 0;
  font-size: 1.6em;
}

@media only screen and (min-width: 600px) {
  main {
    margin-top: 90px;
  }
  main .heading {
    font-size: 3em;
  }
  main .text {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1000px) {
  main {
    margin-top: 90px;
  }
  main .heading {
    font-size: 3em;
    margin: -30px 0 -20px 0;
  }
  main .text {
    align-self: center;
    padding: 30px 0 0 0;
    text-align: initial;
    width: 100%;
    font-size: 1.5em;
  }
  main .text div {
    width: 50%;
  }
  main .text h2 {
    padding: 2% 0;
  }
}
.main-skills {
  margin-top: 0;
}
.main-skills .skill-heading {
  padding: 5% 10% 5% 10%;
  font-size: 2em;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #e89b57;
}
.main-skills .skill-text {
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-skills .skill-text h2 {
  color: #e89b57;
  padding: 0 0 5% 0;
  font-size: 1.5em;
}
.main-skills .skill-text div {
  text-align: center;
  margin-bottom: 15px;
  font-size: 2.5em;
}
.main-skills .skill-text div .skill-content .skill-item {
  font-size: 4em;
  transition: all 0.3s ease-in-out;
}
.main-skills .skill-text div .skill-content .skill-item:hover {
  color: #c19ade;
  transition: color 0.3s ease-in-out;
}

@media only screen and (min-width: 600px) {
  .main-skills .skill-text {
    font-size: 1.5em;
  }
  .main-skills .skill-text div {
    text-align: center;
    margin-bottom: 15px;
    font-size: 3.5em;
  }
}
@media only screen and (min-width: 1000px) {
  .main-skills .skill-text {
    font-size: 2em;
  }
  .main-skills .skill-text h2 {
    color: #e89b57;
    padding: 0;
    font-size: 1.5em;
  }
  .main-skills {
    margin-top: 0;
  }
  .main-skills .skill-text {
    padding: 0px 0 0 0;
  }
  .skill-text div {
    padding: 2% 0 5% 0;
  }
  .skill-item:hover {
    color: var(--links-colour);
    transition: color 0.3s ease-in-out;
  }
}
@keyframes memoji-animation {
  from, to, 50% {
    translate: 0 0;
    rotate: 0deg;
  }
  25% {
    translate: 10px 10px;
    rotate: 3deg;
  }
  75% {
    translate: -10px 10px;
    rotate: -3deg;
  }
}
@keyframes type-new {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes delete-new {
  to {
    width: 0%;
  }
}
@keyframes hide-element {
  0%, 99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink-caret {
  from, to {
    border-right: 0.05em solid transparent;
  }
  50% {
    border-right: 0.05em solid #e89b57;
  }
}
@keyframes stop-blink {
  to {
    border-right: 0.05em solid transparent;
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(10deg);
  }
  95% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
  margin-top: 70px;
}

.text {
  padding: 0 10% 5% 10%;
  font-size: 1em;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
}
.text div {
  width: 80%;
}
.text div p {
  padding: 0 0 1em 0;
}
.text div p a {
  color: #c19ade;
}
.text h2 {
  color: #e89b57;
  padding: 5% 0;
  font-size: 1.6em;
}

@media only screen and (min-width: 600px) {
  main {
    margin-top: 90px;
  }
  main .heading {
    font-size: 3em;
  }
  main .text {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1000px) {
  main {
    margin-top: 90px;
  }
  main .heading {
    font-size: 3em;
    margin: -30px 0 -20px 0;
  }
  main .text {
    align-self: center;
    padding: 30px 0 0 0;
    text-align: initial;
    width: 100%;
    font-size: 1.5em;
  }
  main .text div {
    width: 50%;
  }
  main .text h2 {
    padding: 2% 0;
  }
}
.main-blog {
  margin-top: 0;
}
.main-blog .blog-heading {
  padding: 5% 10% 5% 10%;
  font-size: 2em;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #e89b57;
}
.main-blog .blog-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.main-blog .blog-list .list-container {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.main-blog .blog-list .list-container .list-content {
  width: 100%;
  max-width: 400px;
  margin: 0 0 20px 0;
}
.main-blog .blog-list .list-container .list-content a div {
  background-color: #1e3a4c;
  border-radius: 10px;
}
.main-blog .blog-list .list-container .list-content a div .image-content {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.main-blog .blog-list .list-container .list-content a div .image-content img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease-in-out;
}
.main-blog .blog-list .list-container .list-content a div .image-content img:hover {
  transform: scale(1.2);
}
.main-blog .blog-list .list-container .list-content a div .title-content {
  padding: 10px 10px 15px 10px;
}
.main-blog .blog-list .list-container .list-content a div .title-content div:hover {
  color: #c19ade;
}
.main-blog .blog-list .list-container .list-content a div .title-content h2 {
  font-size: 1em;
}

@media only screen and (min-width: 600px) {
  .main-blog .blog-list .list-container {
    width: 100%;
    flex-flow: row wrap;
  }
  .main-blog .blog-list .list-container .list-content {
    margin: 0 20px 20px 0;
  }
}
@keyframes memoji-animation {
  from, to, 50% {
    translate: 0 0;
    rotate: 0deg;
  }
  25% {
    translate: 10px 10px;
    rotate: 3deg;
  }
  75% {
    translate: -10px 10px;
    rotate: -3deg;
  }
}
@keyframes type-new {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes delete-new {
  to {
    width: 0%;
  }
}
@keyframes hide-element {
  0%, 99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink-caret {
  from, to {
    border-right: 0.05em solid transparent;
  }
  50% {
    border-right: 0.05em solid #e89b57;
  }
}
@keyframes stop-blink {
  to {
    border-right: 0.05em solid transparent;
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(10deg);
  }
  95% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
  margin-top: 70px;
}

.text {
  padding: 0 10% 5% 10%;
  font-size: 1em;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
}
.text div {
  width: 80%;
}
.text div p {
  padding: 0 0 1em 0;
}
.text div p a {
  color: #c19ade;
}
.text h2 {
  color: #e89b57;
  padding: 5% 0;
  font-size: 1.6em;
}

@media only screen and (min-width: 600px) {
  main {
    margin-top: 90px;
  }
  main .heading {
    font-size: 3em;
  }
  main .text {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1000px) {
  main {
    margin-top: 90px;
  }
  main .heading {
    font-size: 3em;
    margin: -30px 0 -20px 0;
  }
  main .text {
    align-self: center;
    padding: 30px 0 0 0;
    text-align: initial;
    width: 100%;
    font-size: 1.5em;
  }
  main .text div {
    width: 50%;
  }
  main .text h2 {
    padding: 2% 0;
  }
}
.main-post {
  margin-top: 0;
}
.main-post .post-heading {
  padding: 0;
  font-size: 1em;
  padding: 5% 5% 5% 5%;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #e89b57;
}
.main-post .post {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 2em;
}
.main-post .post .back {
  padding: 10px;
}
.main-post .post .back .back-tag {
  text-decoration: underline;
}
.main-post .post .post-container {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.main-post .post .post-container .image-content {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin: 0 0 20px 0;
}
.main-post .post .post-container .image-content img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}
.main-post .post .post-container .image-content img:hover {
  transform: scale(1.2);
}
.main-post .post .post-container .date {
  width: 100%;
  font-size: 0.8em;
  margin: 0 0 10px 0;
}

pre {
  line-height: 1.2;
  width: 100%;
}
pre code {
  border-radius: 10px;
}

@media only screen and (min-width: 600px) {
  .main-post {
    margin-top: 0;
  }
  .main-post .post-heading {
    text-align: center;
    font-size: 2em;
    padding: 4% 5% 4% 5%;
  }
  .main-post .post .post-container {
    width: 70%;
    max-width: 650px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .main-post .post .post-container .image-content {
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin: 0 0 20px 0;
    border-radius: 10px;
  }
  .main-post .post .post-container .image-content img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
  }
  .main-post .post .post-container .image-content img:hover {
    transform: scale(1.2);
  }
  .main-post .post .post-container .date {
    width: 100%;
    font-size: 0.8em;
    margin: 0 0 10px 0;
  }
}
@keyframes memoji-animation {
  from, to, 50% {
    translate: 0 0;
    rotate: 0deg;
  }
  25% {
    translate: 10px 10px;
    rotate: 3deg;
  }
  75% {
    translate: -10px 10px;
    rotate: -3deg;
  }
}
@keyframes type-new {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes delete-new {
  to {
    width: 0%;
  }
}
@keyframes hide-element {
  0%, 99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink-caret {
  from, to {
    border-right: 0.05em solid transparent;
  }
  50% {
    border-right: 0.05em solid #e89b57;
  }
}
@keyframes stop-blink {
  to {
    border-right: 0.05em solid transparent;
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(10deg);
  }
  95% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
  margin-top: 70px;
}

.text {
  padding: 0 10% 5% 10%;
  font-size: 1em;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
}
.text div {
  width: 80%;
}
.text div p {
  padding: 0 0 1em 0;
}
.text div p a {
  color: #c19ade;
}
.text h2 {
  color: #e89b57;
  padding: 5% 0;
  font-size: 1.6em;
}

@media only screen and (min-width: 600px) {
  main {
    margin-top: 90px;
  }
  main .heading {
    font-size: 3em;
  }
  main .text {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1000px) {
  main {
    margin-top: 90px;
  }
  main .heading {
    font-size: 3em;
    margin: -30px 0 -20px 0;
  }
  main .text {
    align-self: center;
    padding: 30px 0 0 0;
    text-align: initial;
    width: 100%;
    font-size: 1.5em;
  }
  main .text div {
    width: 50%;
  }
  main .text h2 {
    padding: 2% 0;
  }
}
.main-contact {
  margin-top: 0;
}
.main-contact .contact-heading {
  padding: 5% 10% 0 10%;
  font-size: 2em;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #e89b57;
}
.main-contact .contact-form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.main-contact .contact-form .contact-memoji {
  display: none;
}
.main-contact .contact-form .form-container {
  width: 80%;
  max-width: 500px;
  padding-bottom: 50px;
}
.main-contact .contact-form .form-container .form-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-contact .contact-form .form-container .form-content label {
  font-weight: bold;
  padding-bottom: 5px;
}
.main-contact .contact-form .form-container .form-content input, .main-contact .contact-form .form-container .form-content select, .main-contact .contact-form .form-container .form-content textarea {
  height: 3em;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 0 0 0 10px;
}
.main-contact .contact-form .form-container .form-content textarea {
  padding: 5px 0 0 10px;
}
.main-contact .contact-form .form-container .form-content .submit-buttom {
  all: unset;
  background-color: #e89b57;
  color: #142632;
  width: 100px;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  align-self: center;
}
.main-contact .contact-form .form-container .form-content .submit-buttom:hover {
  background-color: #1e3a4c;
  color: #e89b57;
  box-shadow: rgba(0, 0, 0, 0.3411764706) 0px 8px 30px 0px;
}

@media only screen and (min-width: 600px) {
  .main-contact .contact-form {
    flex-direction: column;
    align-items: center;
  }
  .main-contact .contact-form .contact-memoji {
    display: flex;
    height: 100%;
    width: 200px;
    -webkit-animation: memoji-animation 10s ease-in infinite;
            animation: memoji-animation 10s ease-in infinite;
    transform: translateY(-20%);
  }
}
@media only screen and (min-width: 1000px) {
  .main-contact .contact-form {
    flex-direction: row;
  }
  .main-contact .contact-form .contact-memoji {
    width: 350px;
    margin-right: 50px;
    transform: translateY(-20%);
  }
}/*# sourceMappingURL=main.css.map */