
$background-colour: #142632ff;
$secondary-background: #1e3a4c;
$foreground-colour: #e89b57;
$links-colour: #c19ade;
$bold-text: #e079e0;


// $background-colour: #1B3242;
// $secondary-background: #2A4F69;
// $foreground-colour: #88c4ec;
// $links-colour: #5DB0E8;
// $bold-text: #e079e0;


// $background-colour: #344e41ff;
// $secondary-background: #3a5a40ff;
// $links-colour: #588157ff;
// $foreground-colour: #a3b18aff;


// $background-colour: #4a4dab;
// $foreground-colour: #5FECC8;
// $secondary-background: #414490;
// $links-colour: #f96c6c;
// $bold-text: #87d46c;