@import './colours';

// Setting up fonts, text colour, direction
body {
  line-height: 1.5;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: $background-colour;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  block-size: fit-content;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
